.layerContainer_da8173:has(.backdrop__1a911.withLayer__29ace) {
    width: fit-content;
    height: fit-content;
    left: unset;
    right: 16px;
    margin: auto 0;
}

.layer_bc663c {
    padding: 32px;
    position: relative;
}

.layer_bc663c.hidden_bc663c,
.layer_bc663c:has(+ .layer_bc663c) {
    position: absolute;
}

/* hidden layer */
.layer_bc663c.hidden_bc663c {
    position: absolute;
}

/* backdrop */
.backdrop__1a911.withLayer__29ace {
    position: absolute;
    border-radius: 8px;
    cursor: pointer;
}

/* styling */
.theme-dark .rootWithShadow__49fc1,
.theme-dark .backdrop__1a911.withLayer__29ace {
    -webkit-box-shadow: var(--dark-elevation-border), var(--elevation-high) !important;
    box-shadow: var(--dark-elevation-border), var(--elevation-high) !important;
}

.theme-light .rootWithShadow__49fc1,
.theme-light .backdrop__1a911.withLayer__29ace {
    -webkit-box-shadow: var(--light-elevation-border), var(--elevation-high) !important;
    box-shadow: var(--light-elevation-border), var(--elevation-high) !important;
}

.root__49fc1 {
    border-radius: 8px;
    max-height: 80vh;
}

/* image carousel */
.carouselModal-1eUFoq {
    width: fit-content;
    height: fit-content;
}

.wrapper__21d85.modalCarouselWrapper_f74404 {
    inset: unset;
    position: relative;
}

.arrowContainer__31873 {
    top: unset;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.85);
    visibility: hidden;
}

.carouselModal-1eUFoq:hover .arrowContainer__31873 {
    visibility: visible;
}

.navPrev__21d85 {
    margin-left: 0;
}

.navNext__21d85 {
    margin-right: 0;
}

/* usermodal */
.userProfileModalInner_c69a7b,
/* expanded text file */
.modalContent__4d95d,
/* auth modal */
.authorize__3d3b0 {
    max-height: 80vh;
}
