.userProfileOuterUnthemed_c69a7b {
    &.theme-dark {
        --bg-mod-faint: rgba(0 0 0/.2);
        --border-faint: hsla(0, 0%, 100%, 0.12);
        --input-background: rgba(0 0 0/.5);
  
  
        header .wrapper__44b0c::before {
            background: rgba(0 0 0/.5);
        }
  
        .body__5be3e,
        .body_af7fb7,
        .body_c4213b,
        .body__747b1 {
            background: rgba(0 0 0/.5);
        }
    }
  
    &.theme-light {
        --bg-mod-faint: rgba(255 255 255/.2);
        --border-faint: hsla(0, 0%, 100%, 0.12);
        --input-background: rgba(255 255 255/.5);
  
  
        header .wrapper__44b0c::before {
            background: rgba(255 255 255/.5);
        }
  
        .body__5be3e,
        .body_af7fb7,
        .body_c4213b,
        .body__747b1 {
            background: rgba(255 255 255/.5);
        }
    }
  
    .bannerSVGWrapper_b32cc2 {
        overflow: visible;
        contain: none;
  
        foreignObject {
            -webkit-mask: none;
                    mask: none;
          }
  
        [style*=background-color] {
            height: 100vh;
        }
    }
  
    header .wrapper__44b0c::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        display: block;
        border-radius: 50%;
        padding: 6px;
        left: -6px;
        top: -6px;
        box-shadow: var(--elevation-low);
    }
  
    .divider_c3e427:before {
        display: none;
    }
  
    .body__5be3e,
        .body_af7fb7,
        .body_c4213b,
        .body__747b1 {
        z-index: 2;
        padding: 4px 12px 8px;
        margin: 0 4px 0;
        border-radius: var(--radius-xs);
        box-shadow: var(--elevation-low);
    }
  
    .footer__5be3e {
        z-index: 2;
    }
  
    .inner_a99829 {
        box-shadow: var(--elevation-low);
    }
  
  
    .body__24502 {
        background: rgba(0 0 0/.5);
        border-radius: var(--radius-sm);
        border: 1px solid var(--border-faint);
  
        .container__63ed3 {
            padding: 16px 16px 0;
        }
    }
  
    .fullSizeOverlayBackground_c69a7b {
        background: none;
        border: none;
    }
  
    .body__747b1 {
        position: relative;
    }
    
    .overlayBackground_c69a7b:not(.fullSizeOverlayBackground_c69a7b) {
        z-index: 2;
        background: var(--bg-mod-faint);
    }
  
    .collapseBtn_a4a127 {
        background: var(--bg-mod-faint);
    }
  }
  
  /*
  
  .accountProfileCard__1fed1:not(:has(div[style*=image])) {
  background: none;
  box-shadow: var(--elevation-medium);
  }
  .accountProfileCard__1fed1:not(:has(div[style*=image])) .avatar__1fed1 {
  top: 16px;
  left: 16px;
  padding: 6px;
  background-color: var(--profile-body-background-color);
  box-shadow: var(--elevation-medium);
  }
  .accountProfileCard__1fed1 .bannerSVGWrapper_b32cc2 {
    position: absolute;
    min-width: unset !important;
    width: 100%;
  }
  .accountProfileCard__1fed1 .userInfo__1fed1 {
  height: 116px;
  align-items: flex-end;
  position: relative;
  }
  .accountProfileCard__1fed1:has(div[style*=image]) .userInfo__1fed1 {
  margin-top: 60px;
  }
  .accountProfileCard__1fed1:has(div[style*=image]) .avatar__1fed1 {
  top: 22px;
  }
  .accountProfileCard__1fed1:has(div[style*=image]) .userInfo__1fed1 > button {
  align-self: center;
  }
  .accountProfileCard__1fed1 .profileCardUsernameRow__1fed1,
  .accountProfileCard__1fed1 .containerWithContent_b64375 {
  background-color: var(--profile-body-background-color);
  box-shadow: var(--elevation-medium);
  border-radius: 8px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px;
  }
  .accountProfileCard__1fed1 .userTag__1fed1 {
  margin-bottom: 0;
  padding-left: 4px;
  }
  .accountProfileCard__1fed1 .profileCardUsernameRow__1fed1 .overflowMenuButton__1fed1 {
  height: 24px;
  }
  .accountProfileCard__1fed1 .containerWithContent_b64375 {
  margin-top: 4px;
  }
  .accountProfileCard__1fed1 .background__1fed1 {
  box-shadow: var(--elevation-medium);
  position: relative;
  background-color: var(--profile-body-background-color);
  }
  .accountProfileCard__1fed1 .fieldList__1fed1 {
  background: none;
  } */