@import url(https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css);

:root {
    --settingsidebar-border-radius: 0 8px 0 0;
}

.layer__960e4 ~.layer__960e4 ,
.layer__960e4 :has(~.layer__960e4 ) {
    --settingsidebar-width: 280px;
}

/* channelTextArea */
.layer__960e4 .stop-animations .channelTextArea_f75fb0:not(.channelTextAreaDisabled__74017) .scrollableContainer__74017 {
    opacity: 0.5;
    cursor: not-allowed;
}

.layer__960e4 .stop-animations .channelTextArea_f75fb0:not(.channelTextAreaDisabled__74017) .attachWrapper__0923f,
.layer__960e4 .stop-animations .channelTextArea_f75fb0:not(.channelTextAreaDisabled__74017) .buttons__74017 {
    display: none;
}

/* base */
#app-mount .baseLayer__960e4 {
    opacity: 1 !important;
    transform: unset !important;
    will-change: unset !important;
}

#app-mount .stop-animations * {
    transition-property: inherit !important;
    animation: inherit !important;
}

.layers__960e4>.layer__960e4 .animating__960e4 *,
.layers__960e4>.layer__960e4 .animating__960e4 {
    pointer-events: auto !important;
    will-change: unset;
}

.layer__960e4 .stop-animations {
    margin-left: var(--settingsidebar-width);
}

.layer__960e4 ~.layer__960e4  {
    background: none;
    width: var(--settingsidebar-width);
}

.platform-win .standardSidebarView__23e6b {
    background: none;
    overflow: hidden;
    border-radius: var(--settingsidebar-border-radius);
}

.sidebarRegion__23e6b:hover ~ .contentRegion__23e6b {
    display: none;
}

/* sidebar */
.sidebarRegion__23e6b {
    position: absolute;
    height: 48px;
    z-index: 11;
    width: var(--settingsidebar-width);
    pointer-events: none;
}

.sidebarRegion__23e6b:hover,
:has(.toolsContainer__23e6b + div:active) .sidebarRegion__23e6b {
    height: 100%;
    pointer-events: all;
}

.toolsContainer__23e6b + div {
    width: var(--settingsidebar-width);
    height: 48px !important;
    top: -48px;
    left: 0;
    z-index: 9999;
    pointer-events: all !important;
    cursor: pointer;
}

.toolsContainer__23e6b + div:active {
    display: none;
}

.sidebarRegion__23e6b:has(.selected_b3f026:focus-within) {
    display: none;
}

.sidebar__23e6b {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: calc(20px - 8px);
}

.sidebarRegion__23e6b:not(:hover) .sidebar__23e6b {
    padding-top: 0;
    padding-bottom: 0;
}

.sidebarRegion__23e6b>.sidebarRegionScroller__23e6b {
    max-width: 100%;
}

.sidebarRegionScroller__23e6b:not(:hover) .item_b3f026.selected_b3f026 {
    margin-top: 8px;
}

#app-mount .sidebarRegionScroller__23e6b:not(:hover) .side_b3f026>div:not(.item_b3f026.selected_b3f026) {
    display: none;
}

/* contentregion */
.contentRegion__23e6b {
    margin-top: 48px;
}

.contentColumn__23e6b,
.customColumn__23e6b {
    min-width: unset;
    width: 0;
}

.contentColumnDefault__23e6b {
    padding-top: 20px;
    padding-right: calc(20px - 8px);
    padding-left: 20px;
}

.toolsContainer__23e6b {
    position: absolute;
    padding-top: 8px;
    right: -37px;
    /* top: -44px; */
    z-index: 999;
}

.closeButton_c2b141+.keybind_c2b141 {
    display: none;
}

.closeButton_c2b141:hover+.keybind_c2b141 {
    display: block;
}

/* scrollbar */
.scroller__981c8::-webkit-scrollbar-track,
.scroller__16663::-webkit-scrollbar-track,
.contentRegionScroller__23e6b::-webkit-scrollbar-track {
    display: none;
}

.scroller__981c8::-webkit-scrollbar-thumb,
.scroller__16663::-webkit-scrollbar-thumb,
.contentRegionScroller__23e6b::-webkit-scrollbar-thumb {
    visibility: hidden;
}

.scroller__981c8:hover::-webkit-scrollbar-thumb,
.scroller__16663:hover::-webkit-scrollbar-thumb,
.contentRegionScroller__23e6b:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.scroller__981c8::-webkit-scrollbar,
.scroller__16663::-webkit-scrollbar,
.contentRegionScroller__23e6b::-webkit-scrollbar {
    width: 8px;
}

.scroller__981c8::-webkit-scrollbar-thumb,
.scroller__16663::-webkit-scrollbar-thumb,
.contentRegionScroller__23e6b::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
}

/* responsive elements */
.userInfo__1fed1 {
    flex-wrap: wrap;
}

.userInfo__1fed1 {
    min-height: 72;
    height: unset;
}

.buttonContainer_d286c5 {
    width: unset;
    max-width: 300px;
    flex-wrap: wrap;
    gap: 8px 16px;
}

.buttonContainer_d286c5>button {
    min-width: fit-content;
    max-width: calc(150px - 8px);
    flex-basis: 50%;
    flex-grow: 1;
    margin-right: 0;
}

.bd-setting-header {
    flex-wrap: wrap;
}

.accountProfileCard__1fed1 .fieldButtonList__1fed1 {
    flex-direction: column;
}

#my-account-tab .flexChild__7c0ba:not(img) {
    width: 100%;
}

.profileCustomizationSection-2OOT4p .baseLayout-8AMrwn {
    flex-wrap: wrap;
}

.profileCustomizationSection-2OOT4p .preview-Z55SA3 {
    margin-top: 20px;
    margin-left: 0;
}

#streamer-mode-tab .formNotice-2nS8ey .flex__7c0ba {
    flex-direction: column;
}

.marketingRefreshSectionTier1-1chtWC {
    flex-wrap: wrap;
}

.contentRegion__23e6b .flex__7c0ba.horizontal__7c0ba:not(.layout__88e96, .iconWrapper__4a3a5, .headerInfo_f0135d) {
    grid-template-columns: repeat(auto-fill, 100%);
    display: grid;
}

.horizontal__7c0ba>.flex__7c0ba,
.horizontal__7c0ba:not(.headerInfo_f0135d)>.flexChild__7c0ba {
    margin-left: 0;
    margin-right: 0;
}

.horizontal__7c0ba>.flex__7c0ba:not(:first-child),
.horizontal__7c0ba:not(.headerInfo_f0135d)>.flexChild__7c0ba:not(:first-child) {
    margin-top: 8px;
}

.features_c2c4bf {
    grid-template-columns: repeat(auto-fill, 100%) !important;
}

#nitro-server-boost-tab .guilds__66a9b {
    grid-template-columns: repeat(auto-fill, 100%);
}

.tiersList_ece6a4 {
    flex-wrap: wrap;
}

.tiersList_ece6a4 .tierVertical__21cea+.tierVertical__21cea {
    margin-left: 0;
    margin-top: 8px;
    width: 100%;
}

.tiersList_ece6a4 .wrapper_adaea0 {
    padding: 8px 16px;
}

#profile-customization-tab .baseLayoutProfileThemes-1Jj-oN {
    flex-wrap: wrap;
}

#profile-customization-tab .page-nvZ_ef {
    margin-left: 8px;
    margin-right: 8px;
}

.profileCustomizationPreview-2-Y173 {
    width: calc(var(--settingsidebar-width) - 20px);
}

/* guild settings */
.progressBarImage_cd0bbe {
    width: 100%;
    height: auto;
}

.customScroller__23e6b>div {
    margin-left: 0;
    padding-left: 20px;
    min-width: 100%;
}

.roleNameSpacing_db0ee9 {
    -ms-flex: 0 0 105px;
    flex: 0 0 105px;
}

.memberSpacing_db0ee9 {
    -ms-flex: 0 0 0;
    flex: 0;
    margin-left: 0;
}

.searchContainer_db0ee9 {
    flex-wrap: wrap;
}

/* role sidebar */
#roles-tab .sidebar_e29cd7 {
    position: absolute;
    height: 48px;
    width: 100%;
    flex-basis: 100% !important;
    z-index: 11;
    overflow: hidden;
    border-right: none;
}

#roles-tab .sidebar_e29cd7:hover {
    height: 100%;
}

#roles-tab .sidebar_e29cd7:hover+.contentContainer__91dc3 {
    visibility: hidden;
}

.contentContainer__91dc3 {
    left: 0;
}

#roles-tab .sidebar_e29cd7:not(:hover) .titleContainer_e29cd7,
#roles-tab .sidebar_e29cd7:not(:hover) .row_e29cd7.item_b3f026:not(.selected_b3f026),
#roles-tab .sidebar_e29cd7:not(:hover) .list_e29cd7::-webkit-scrollbar-thumb {
    display: none;
}

#roles-tab .page__91dc3 {
    min-width: unset;
}

#roles-tab .titleContainer_e29cd7 {
    width: calc(100% - 32px);
    padding: 20px;
    margin: 0;
}

#roles-tab .list_e29cd7 {
    padding-left: calc(20px + 6px);
}

#roles-tab .sidebar_e29cd7:not(:hover) .list_e29cd7 .side_b3f026 {
    margin-top: 8px;
    margin-right: 40px;
}

#roles-tab .contentWidth_c6bf1b {
    width: 100%;
    min-width: unset;
    padding-left: 20px;
    padding-right: calc(20px - 8px);
}

#roles-tab .permissionsWrapper__16663 .clearButtonWrapper__16663 {
    position: relative;
}

.infoWrapper__60406 {
    flex-wrap: wrap;
}

.infoItem__60406 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

img.infoItem__60406 {
    width: 100%;
}

.descriptionBox__981f7 {
    flex-wrap: wrap;
}

.features_bebc5b {
    grid-template-columns: repeat(auto-fill, 100%) !important;
}

.tiers_f15dca {
    margin-left: 38px;
    width: calc(100% - 38px);
}

.perks_f15dca {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}

.avatar-rUnPfv {
    flex-shrink: 0;
}

.member-2cj2PI {
    width: 100%;
}

.member-2cj2PI .nameTag-1UsB6_ {
    min-width: 100px;
}

.revokeInvite__1de14 {
    right: 2px;
}

.permission__50a54 {
    -webkit-box-align: start;
    align-items: start;
    height: fit-content;
}

.permissionCheckmark__50a54 {
    flex-shrink: 0;
}

/* Automod */
#guild_automod-tab .descriptionContainer__0034b {
    flex-wrap: wrap;
    justify-content: center;
}

#guild_automod-tab .mainContainer_c5e6a1 {
    display: grid;
    row-gap: 10px;
}

#guild_automod-tab .ruleTextContainer_c5e6a1 {
    margin-right: 0;
}

.saveNoticeContainer__51673 {
    width: 100%;
}

#app-mount .saveNoticeContainer__51673 {
    border-radius: unset;
    background-color: unset;
    border: unset;
    padding: unset;
    margin: unset;
}

.noticeRegion__23e6b {
    width: 100%;
}

.saveNoticeContainer__51673 .message_fcf29c,
.noticeRegion__23e6b .message_fcf29c {
    white-space: normal;
}

.saveNoticeContainer__51673 .flexContainer_fcf29c,
.noticeRegion__23e6b .flexContainer_fcf29c {
    display: grid;
}

#guild_automod-tab .triggerContainer_b6c6eb {
    display: grid;
}

#guild_automod-tab .cardContentsContainer_ed9c90 {
    margin-left: 8px;
    margin-right: 8px;
}

#guild_automod-tab .mentionLimitContainer_ed9c90 {
    display: grid;
    row-gap: 10px;
}

/* plugin repo */
.repoList-9JnAPs .repoHeader-2KfNvH {
    padding-top: 20px;
    padding-right: 0;
}

.repoList-9JnAPs .repoHeader-2KfNvH>* {
    min-width: unset;
    padding-left: 20px;
    padding-right: 20px;
}

.repoList-9JnAPs .contentColumn__23e6b {
    padding-top: 0;
}

.repoList-9JnAPs .repoHeader-2KfNvH .tabBar-2hXqzU {
    justify-content: space-evenly;
    width: 100%;
    max-width: var(--settingsidebar-width);
}

.repoList-9JnAPs .repoHeader-2KfNvH .tabBarItem_b9fccc {
    margin: 0 2px;
}

.repoList-9JnAPs.contentRegion__23e6b .flex__7c0ba.tabBarContainer-sCZC4w {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.repoList-9JnAPs.contentRegion__23e6b .flex__7c0ba.quickSelect__540d0 {
    display: flex;
    align-items: center;
}

.repoList-9JnAPs.contentRegion__23e6b .flex__7c0ba.quickSelectClick_eec93f {
    display: flex;
    margin-top: 0;
}

.repoList-9JnAPs .toolsContainer__23e6b {
    margin-top: -177px;
}

#pluginrepo-tab .settingsRow-o9Ft44 .textScroller-dc9_kz div {
    white-space: normal !important;
}

#pluginrepo-tab .settingsRow-o9Ft44 .flexChild__7c0ba {
    width: auto;
}

/* Sessions */
.sessions__803f2 .sessionMoreButton__803f2 {
    position: absolute;
    top: 12px;
    right: 0;
    display: none;
}

.sessions__803f2 .session__803f2:hover .sessionMoreButton__803f2 {
    display: block;
}

.sessions__803f2 .session__803f2 {
    position: relative;
}

.sessions__803f2 .session__803f2 {
    gap: 12px;
}

.sessions__803f2 .sessionInfo__803f2 {
    gap: 0;
}

.sessions__803f2 .eyebrow_e5a66c.sessionInfoRow__803f2 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375rem;
    font-family: var(--font-primary);
    text-transform: capitalize;
}

.sessions__803f2 .text-sm-medium_bc6ffc.sessionInfoRow__803f2 {
    color: var(--channels-default);
}

.sessions__803f2 .sessionIcon__803f2 {
    background: none;
    color: var(--interactive-normal);
}

.sessions__803f2 .session__803f2.currentSession__803f2 .sessionIcon__803f2 {
    color: var(--status-positive);
}

.children__7bffb>.session__803f2:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

/* Nitro */
#discord-nitro-tab {
    margin-top: 24px;
}

#discord-nitro-tab .premiumCards_ac86f6 {
    display: grid;
}

.premiumCards_ac86f6 .card_ac86f6,
.settingsContainer-36qZZ9.settingsHero-2Me_mE {
    width: 100%;
}

.settingsContainer-36qZZ9.settingsHero-2Me_mE .settingsTextContainer-3grHhq {
    width: 100%;
    padding: 16px;
}

.settingsContainer-36qZZ9.settingsHero-2Me_mE .buttonContainer-2sL6rz {
    display: grid;
}

.settingsContainer-36qZZ9.settingsHero-2Me_mE .display-md-3I4dlu {
    font-size: 24px;
}

.settingsContainer-36qZZ9.settingsHero-2Me_mE .description-2_tPhd {
    margin-top: 8px;
    margin-bottom: 16px;
}

.settingsContainer-36qZZ9.settingsHero-2Me_mE .sparkleStar-J6zUP3 {
    display: none;
}

#discord-nitro-tab .imageWrapper__178ee {
    box-shadow: none;
}

.premiumCards_ac86f6 .marginTopForButtons-3u_La7 {
    margin-top: 24px;
}

#discord-nitro-tab .bigPerkCardContainer-100zsH,
#discord-nitro-tab .smallPerkCardContainer-X9-c92 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}

#discord-nitro-tab .bigPerkCard-1uwmWV {
    background-color: var(--background-secondary-alt);
    padding: 24px;
}

#discord-nitro-tab .smallPerkCard-2sX_-- {
    padding: 24px;
}

.planComparisonTableContainer-2toIGM .cell-RLL0Ge,
.planComparisonTableContainer-2toIGM .headerCell-3mJ5RH {
    width: 100px;
}

.planComparisonTableContainer-2toIGM .headerRow-_Ed0yk .headerCell-3mJ5RH {
    justify-content: center;
}

.planComparisonTableContainer-2toIGM .row-32xD2c {
    height: auto;
}

.planComparisonTableContainer-2toIGM .logo-35nkkB {
    width: 70%;
}

.planComparisonTableContainer-2toIGM .headerLabelCell-eG_2hU .heading-lg-bold-3uwrwG {
    font-size: 16px;
    line-height: 20px;
}

.planComparisonTableContainer-2toIGM .button-kcar9o {
    width: calc(100% - 16px);
    height: 40px;
}

.planComparisonTableContainer-2toIGM .tier2ColumnOuter-1U2eKO {
    width: 37%;
}

#discord-nitro-tab .footer-j5ehCa {
    margin-top: 24px;
    margin-bottom: 24px;
}

#discord-nitro-tab .buttonContainer-tkKXTP {
    gap: 16px;
    display: grid;
}

/* BD */
.bd-addon-list-title {
    flex-wrap: wrap;
}

.bd-addon-list-filters {
    flex-wrap: wrap;
    gap: 6px 10px;
    margin-top: 6px;
}

.bd-addon-list-filters .bd-select-wrapper+.bd-select-wrapper {
    margin-left: 0;
}

.bd-addon-list-controls {
    flex-wrap: wrap;
}

.bd-addon-list.bd-grid-view {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
