.chatContent_f75fb0[aria-label^=css-snippets] .divider__5126c {
    display: none
}

.chatContent_f75fb0[aria-label^=css-snippets] .scrollerInner__36d07 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(328px, 328px));
    column-width: 328px !important;
    grid-gap: 16px;
    padding-left: 16px
}

.chatContent_f75fb0[aria-label^=css-snippets] .messageListItem__5126c {
    background: var(--background-secondary-alt);
    border-radius: 8px;
    max-width: 328px;
    min-height: 375px;
    overflow: hidden;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition: box-shadow .2s ease-out, transform .2s ease-out, background .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out
}

.chatContent_f75fb0[aria-label^=css-snippets] .messageListItem__5126c:focus,
.chatContent_f75fb0[aria-label^=css-snippets] .messageListItem__5126c:hover {
    background: var(--background-tertiary);
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    box-shadow: var(--elevation-high);
    -webkit-box-shadow: var(--elevation-high)
}

.chatContent_f75fb0[aria-label^=css-snippets] .messagesWrapper__36d07 .wrapper_c19a55 {
    border-radius: 8px;
    padding: 0 !important;
    margin-top: 0 !important
}

.chatContent_f75fb0[aria-label^=css-snippets] .groupStart__5126c::after,
.chatContent_f75fb0[aria-label^=css-snippets] .imageDetails-1t6Zms,
.chatContent_f75fb0[aria-label^=css-snippets] .message__5126c::before {
    display: none
}

.chatContent_f75fb0[aria-label^=css-snippets] .container_b7e1cb {
    justify-content: center;
    align-content: space-evenly
}

.chatContent_f75fb0[aria-label^=css-snippets] .imageWrapper__178ee {
    display: flex;
    align-items: center
}

.chatContent_f75fb0[aria-label^=css-snippets] .container_b7e1cb>:not(:last-of-type) {
    margin-right: 0
}

.chatContent_f75fb0[aria-label^=css-snippets] .imageWrapper__178ee[style*="height: 300px;"] {
    transform: scale(.6)
}

/* Discord added this :D */
/* .chatContent_f75fb0[aria-label^=css-snippets] .embedWrapper_b7e1cb,
.chatContent_f75fb0[aria-label^=css-snippets] .embedVideo__623de{
    height: auto !important;
    width: unset !important
}

.chatContent_f75fb0[aria-label^=css-snippets] .embedWrapper_b7e1cb .clickableWrapper__2d2ea img,
.chatContent_f75fb0[aria-label^=css-snippets] .embedWrapper_b7e1cb video {
    position: relative;
    height: auto !important;
    width: unset !important;
    max-width: 100%
} */

.chatContent_f75fb0[aria-label^=css-snippets] .message__5126c {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%
}

.chatContent_f75fb0[aria-label^=css-snippets] .message__5126c .markup__75297 {
    color: var(--header-secondary);
    font-size: 14px;
    width: calc(328px - 32px);
    padding-left: 0 !important;
    margin-left: 0 !important
}

.chatContent_f75fb0[aria-label^=css-snippets] .message__5126c .markup__75297 code:active>* {
    display: block
}

.chatContent_f75fb0[aria-label^=css-snippets] .message__5126c .markup__75297>strong:first-child {
    color: var(--header-primary);
    font-weight: 600;
    font-size: 16px
}

.chatContent_f75fb0[aria-label^=css-snippets] .message__5126c .markup__75297>strong:first-child>u {
    text-decoration: none
}

.chatContent_f75fb0[aria-label^=css-snippets] .message__5126c .markup__75297>.inline:first-child {
    color: var(--header-primary) !important;
    font-weight: 600;
    font-size: 16px;
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
    background: 0 0
}

.chatContent_f75fb0[aria-label^=css-snippets] .message__5126c .markup__75297 pre {
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    background: 0 0;
    border: none
}

.chatContent_f75fb0[aria-label^=css-snippets] .hljs {
    padding: 2px .5em .5em .5em !important
}

.chatContent_f75fb0[aria-label^=css-snippets] .message__5126c .markup__75297 pre code {
    height: 24px;
    width: 100%;
    font-size: 12px;
    -webkit-user-select: all;
    user-select: all;
    cursor: pointer
}

.chatContent_f75fb0[aria-label^=css-snippets] .message__5126c .markup__75297 pre code .bd-codeblock-language,
.chatContent_f75fb0[aria-label^=css-snippets] .message__5126c .markup__75297 pre code::-webkit-scrollbar {
    display: none
}

.chatContent_f75fb0[aria-label^=css-snippets] .message__5126c .markup__75297 pre code:active>* {
    opacity: 1
}

.chatContent_f75fb0[aria-label^=css-snippets] .message__5126c .markup__75297 pre code:active {
    max-height: 332px;
    height: fit-content;
    width: 280px;
    font-size: 12px;
    opacity: 1
}

.chatContent_f75fb0[aria-label^=css-snippets] .container_b7e1cb {
    order: -1 !important;
    width: 328px;
    height: 180px;
    overflow: hidden;
    margin-bottom: 32px;
    padding: 0 !important;
    position: absolute
}

#app-mount .chatContent_f75fb0[aria-label^=css-snippets] .messageListItem__5126c .avatar_c19a55 {
    transform: translateY(-55px) !important;
    top: unset !important;
    left: unset !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 12px;
    box-shadow: 0 0 0 4px var(--background-secondary-alt)
}

#app-mount .chatContent_f75fb0[aria-label^=css-snippets] .messageListItem__5126c:focus .avatar_c19a55,
#app-mount .chatContent_f75fb0[aria-label^=css-snippets] .messageListItem__5126c:hover .avatar_c19a55 {
    box-shadow: 0 0 0 4px var(--background-tertiary)
}

.chatContent_f75fb0[aria-label^=css-snippets] .header_c19a55::after {
    display: none
}

.chatContent_f75fb0[aria-label^=css-snippets] .header_c19a55 {
    z-index: 0;
    position: absolute;
    bottom: 16px;
    left: 12px
}

.chatContent_f75fb0[aria-label^=css-snippets] .timestampInline_c19a55 {
    margin-left: .25rem !important
}

.chatContent_f75fb0[aria-label^=css-snippets] .headerText_c19a55 {
    display: none
}

.chatContent_f75fb0[aria-label^=css-snippets] .altText__0f481 {
    position: fixed;
    top: 0;
    right: 16px
}

.chatContent_f75fb0[aria-label^=css-snippets] .messageContent_c19a55>.timestamp_c19a55 {
    position: fixed;
    bottom: 4px;
    left: 16px
}

.chatContent_f75fb0[aria-label^=css-snippets] .contents_c19a55 {
    width: 100%;
    padding: calc(180px + 27px) 16px 32px !important;
    overflow: hidden;
    background: 0 0
}

.chatContent_f75fb0[aria-label^=css-snippets] .contents_c19a55::after {
    display: block;
    position: absolute;
    content: '';
    z-index: -1;
    height: 180px;
    width: 100%;
    top: 0;
    right: 0;
    background: url(https://betterdiscord.app/resources/ui/content_thumbnail.svg) no-repeat center/40%, var(--background-tertiary)
}

.chatContent_f75fb0[aria-label^=css-snippets] .message__5126c.selected__5126c,
.chatContent_f75fb0[aria-label^=css-snippets] .message__5126c:hover {
    background: 0 0 !important
}

.chatContent_f75fb0[aria-label^=css-snippets] .repliedMessage_c19a55 {
    position: absolute;
    left: 16px;
    top: 4px;
    width: 270px
}

.chatContent_f75fb0[aria-label^=css-snippets] .repliedMessage_c19a55::before {
    display:none
}

.chatContent_f75fb0[aria-label^=css-snippets] .message__5126c>.buttonContainer_c19a55>.container__040f0 {
    top: 8px;
}
